.match{
    padding: 30px 200px;
    
    .match-hero{
        background-color: #3a39396e;
        padding: 20px 0;
        text-align: center;
        font-style: italic;
        font-size: 1.8rem;
    }

    .red-team-summoners--container, .blue-team-summoners--container{
        padding: 30px 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    
    .red-team-summoners--container{
        background-color: #e4161645;
    }

    .blue-team-summoners--container{
        position: relative;
        background-color: #2837c34d;
    
        .versus-summoners{
            position: absolute;
            top: -27px;
            font-size: 1.8rem;
            font-style: italic;
            letter-spacing: 10px;
            color: gold;
        }
    }

    .red-team-summoner--card, .blue-team-summoner--card{
        
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .champ-img{
            width: 160px;
        }

        .profile-icon{
            position: relative;
            top: -32px;
            width: 60px;
            border-radius: 50%;
        }

        .input-summoner-name{
            margin: 10px;
            font-size: 1rem;
            width: 80%;
            text-align: center;
            padding: 5px;
            border: 2px solid rgb(27, 27, 27);
            border-radius: 5px;
            background-color: rgb(39, 35, 35);
            color: white;
            
        }
        
        .input-summoner-name:focus{
            outline: none;
            background-color: rgba(100, 100, 100, .3);
        }
    }
}

